.shrunk {
    max-height: 0px !important;
    overflow: hidden !important;
    -webkit-transition: max-height .3s; /* Safari */
    transition: max-height .3s;
}

.checkboxes {
    float: right;
    padding: 8px;
    border: 4px outset #aaa;
    border-radius: 8px;
    background-color: #eee;
}

.checkboxes label{
    display: inline;
}

.nav-section {
    font-size: 120%;
    font-weight: bold;
    margin-top: 1em;
}

.nav-sub {
    font-weight: bold;
    margin-left: 1em;
}

.nav-unit {
    font-weight: normal;
    margin-left: 2em;
}

div.allPages > div {
    max-height: 25px;
    overflow: hidden;
    -webkit-transition: max-height .3s; /* Safari */
    transition: max-height .3s;
}